/* Resume CSS */
/* Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Fuzzy+Bubbles:wght@400;700&display=swap");

/* CSS Starts here */

#header h1,
#header p {
  margin: 5px 0px;
  width: 1000px;
  text-align: center;
}

#navbar a,
#navbar ul {
  margin: 0 15px;
  text-align: center;
}
a:hover {
  color: rgb(7, 169, 7);
}

h1,
h2,
h3 {
  color: rgb(185, 15, 15);
  font-family: "Fuzzy Bubbles", sans-serif;
  font-weight: bold;
}
body {
  background-color: rgb(235, 229, 197);
  padding: 10px 50px;
  margin: 10px;
  font-family: georgia;
  font-style: italic;
}
p,
ul,
table {
  color: rgb(25, 35, 25);
}

#foo p {
  color: rgb(201, 48, 178);
}
